div {
  box-sizing: border-box;
  border: 1.5vw solid;
  aspect-ratio: 3.125;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Tahoma, "Trebuchet MS", sans-serif;
  overflow: hidden;
}
@media print {
  div {
    break-inside: avoid;
  }
}
