---
import { App } from "../ui/app";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Montessori Parts of Speech</title>
    <meta
      name="description"
      content="Montessori Parts of Speech is a tool to help children learn parts of speech."
    />
  </head>
  <body>
    <h1>A bug</h1>
    <section>
      reproducing https://twitter.com/JLarky/status/1740955437305069673
      <details>
        <summary>more</summary>
        <ul>
          <li>
            src/ui/app.tsx line 34 is what triggest the bug `localData.value =
            dataAfterHydration;`
          </li>
          <li>
            src/ui/app.tsx line 53 is where the key is missing `{
              "key={word + index}"
            }`
          </li>
          <li>
            you don't have to add a new word to the list (line 33) to trigger
            warning, but that line is what is causing wrong CSS to be applied
          </li>
        </ul>
      </details>
    </section>
    <br />
    <App />
    <style is:global>
      @media print {
        .print\:hidden,
        astro-dev-toolbar {
          display: none;
        }
      }
    </style>
  </body>
</html>
