---
import { App } from "../ui/app";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Montessori Parts of Speech</title>
  </head>
  <body>
    <h1>Montessori Parts of Speech</h1>
    <section>
      <h2>What is this?</h2>
      <p>
        <a href="https://montessori-parts-of-speech.deno.dev/"
          >montessori-parts-of-speech.deno.dev</a
        > is a tool to help children learn parts of speech. It is based on the
        <a href="https://en.wikipedia.org/wiki/Montessori_education">
          Montessori method</a
        >.
      </p>
    </section>
    <App />
    <style is:global>
      @media print {
        .print\:hidden,
        astro-dev-toolbar {
          display: none;
        }
      }
    </style>
  </body>
</html>
